<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/category/create}">
        Add new category
    </a>
</p>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${categories}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td><a th:href="@{/category/edit/{id}(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/category/delete/{id}(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/category/view/{id}(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/category/'(page=${categories.number - 1})}" th:if="${categories.hasPrevious()}">Previous</a>
    <span th:text="${categories.number + 1}"></span>/<span th:text="${categories.totalPages}"></span>
    <a th:href="@{'/category/'(page=${categories.number + 1})}" th:if="${categories.hasNext()}">Next</a>
</div>
</body>
</html>