<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <h2>Blog Infomation</h2>
</p>
<table th:object="${blog}">
    <tr>
        <td>Id:</td>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="*{title}"></td>
    </tr>
    <tr>
        <td>Content:</td>
        <td th:text="*{content}"></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td th:text="${blog.dateBlog}"></td>
    </tr>
    <tr>
        <td>Category:</td>
        <td th:text="${blog.category.name}"></td>
    </tr>
</table>
</body>
</html>